# NOTE: This I2P config file must use UTF-8 encoding
i2np.lastIP=70.210.55.73
i2np.lastIPChange=1434307531486
i2np.udp.internalPort=15234
i2np.udp.port=13272
router.firstInstalled=1394922337072
router.firstVersion=0.9.11
router.previousVersion=0.9.11
router.updateLastInstalled=1394922337072
