# NOTE: This I2P config file must use UTF-8 encoding
i2np.lastIP=104.235.213.83
i2np.lastIPChange=1443292144625
i2np.udp.internalPort=15234
i2np.udp.port=15234
router.firstInstalled=1394922337072
router.firstVersion=0.9.11
router.previousVersion=0.9.11
router.updateLastInstalled=1394922337072
